@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans Bengali", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-slate-100);
  color: var(--color-slate-800);
}
